Source: corecluster-auth-db
Section: contrib
Priority: extra
Maintainer: Maciej Nabozny <maciej.nabozny@cloudover.io>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.4
Homepage: http://cloudover.org/corecluster/

Package: corecluster-auth-db
Architecture: all
Depends: corecluster
Description: Default auth driver
  Default authentication driver for CoreCluster
